<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <h1>Hello Vue :O</h1>

    <div id="app">
        <ul>
            <!-- binded class attribute takes in key value pairs for all classes this element should have -->
            <li v-for="round in filteredRounds" :class="{ fav: round.isFav, host: round.host === 'Kinka' }">
                <h2>{{ round.title }} - {{ round.host }} - {{ round.year }} </h2>
        
                <!-- v-on:click is considered a 'directive' which can still access the
                variables despite no {{}}, and is a click event listener -->
                <button v-on:click="round.year += 1" v-if="visible">Increment Year</button>
                <button v-on:click="round.year--" v-if="visible">Decrement Year</button>
                <!-- v-on:click is the same as @click (syntactic sugar) -->
                <div @click="nextSeason" v-if="visible">Next Season</div>
                <div @click="resetToDefault(1)" v-if="visible">Reset Season</div>
        
                <button @click="toggleOptions" v-if="visible">Hide Options</button>
                <!-- <button @click="toggleOptions" v-if="!visible">Show Options</button> -->
                <button @click="toggleOptions" v-else="visible">Show Options</button>
                <!-- <button @click="toggleOptions">Toggle Options</button> -->
        
                <h3 v-show="visible">Showing Options</h3>
                <!-- difference between v-show and v-if is that v-if removes from
                DOM whereas v-show changes display to none or block -->
        
        
                <br />
            </li>
        </ul>

        <!-- attribute binding, makes it dynamic to look for the variable -->
        <!-- I think the way this works is that values are only dynamic inside
        of a Vue directive, which these normal attributes like href or alt or src
        won't recognize the Vue data variables. So these are the default
        settings which we need to bind the context of the data to, to be dynamic -->
        <!-- <a v-bind:href="url">Prisma Studio</a> -->
        <!-- Shortcut is just : (syntactic sugar) -->
        <a :href="url">Prisma Studio</a>

        <h1>Box Demonstration</h1>

        <!-- If we pass in an argument to the event handler, we need to make
        sure the event is also passed in using $event otherwise the
        argument we passed in takes place of the 'e' variable in the handler.
        This is possibly using jQuery? -->
        <div class="box" v-on:mouseover="mouseoverHandler($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="mouseleaveHandler">mouseleave</div>
        <div class="box" @dblclick="doubleclickHandler">double click</div>
        <div class="box" @mousemove="mousemoveHandler">position - {{ x }} - {{ y }} </div>

    </div>

    <script src="app.js"></script>
</body>
</html>